@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
h1 {
  color: white;
  font-size: 700%;
  text-align: center

}
h3 {
  color: gray;
  text-align: center;
}
span {
  color: red;
  text-align: center;
}
.intro {
  max-width: 600px;
  margin: auto;
}

a {
  color: white;
  display: block;
  padding: 8px
}
a:hover{
  color: red;
}



.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.navbar li a {
  display: block;

  text-align: center;
  padding: 14px 16px;
  background-color: black;
  text-decoration: none

}

.navbar li {
float:left;
border: 1px solid white;
}

.social-icon ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.social-icon li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: black;
  text-decoration: none

}

.social-icon li {
float:left;
}






body{
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  margin: auto;
}
